# Dependencies
node_modules/
client/node_modules/

# Environment variables
.env

# Build files
client/build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Local files
local_data/

# Python virtual environment
neo4j_backend/venv/
*.pyc
__pycache__/
.python-version